In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Missing data in pandas
# we have to approaches to deal with missing data 1) Masking (boolean array) 2) sentinal value (repetation or filling)
# pandas use sentinal approach for missing data.

In [5]:
# None :- Python missing data
# None cannot be used in any arbitary Numpy/ Pandas arrays
# but only in arrays with data type 'object'
val1 = np.array([1,None,3,4])
val1

array([1, None, 3, 4], dtype=object)

In [6]:
# Nan:- missing numerical data
# Nan is a special floating-point value recognized by all systems 
# that use the standard IEEE floating-point representation.
val2 = np.array([1,np.nan, 3,4])
val2

array([ 1., nan,  3.,  4.])

In [9]:
# regardless of the operation, the result of arithmetic nan will be another nan
print(1+np.nan)
print(0*np.nan)
print(val2.max(), val2.min(), val2.sum())

nan
nan
nan nan nan

In [14]:
# numpy does provides some special aggregations that will ignore these missing values
np.nansum(val2), np.nanmax(val2), np.nanmin(val2)

(8.0, 4.0, 1.0)

In [15]:
# OPERATING ON NULL VALUES
# There are Several useful methods for deleting, removing, & replacing null values in pandas data structure
"""
    isnull(): Generate a boolean mask indicating missing values
    notnull(): Opposite of isnull()
    dropna(): Return a filtered version of the data
    fillna(): Return a copy of the data with missing values filled or imputed

"""

'\n    isnull(): Generate a boolean mask indicating missing values\n    notnull(): Opposite of isnull()\n    dropna(): Return a filtered version of the data\n    fillna(): Return a copy of the data with missing values filled or imputed\n\n'

In [16]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [19]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [20]:
# Dropping null values
data.dropna()

0        1
2    hello
dtype: object

In [21]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [22]:
# In dataframe, the dropna() will drop any array which will have any Nan value
df.dropna()

     0    1  2
1  2.0  3.0  5

In [26]:
# Filling null values
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
print(data)
data.fillna(0)

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64