In [2]:
import pandas as pd
import numpy as np

In [16]:
# Data Selection in Series
data = pd.Series(np.linspace(1,10,5), index=['a','b','c','d','e'])
print(data['b'])
data['b'] = 666
print(data['b'])
print('a' in data)
print(data.index) # or data.keys()
print(list(data.items())) # return list of tuples ('key', value)

3.25
666.0
True
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[('a', 1.0), ('b', 666.0), ('c', 5.5), ('d', 7.75), ('e', 10.0)]

In [17]:
# Series as a one dimensional array
data['a':'c'] # it includes 'a' and 'c'

a      1.0
b    666.0
c      5.5
dtype: float64

In [18]:
# slicing with implicit integer index
data[0:2] # it will not include index 2 (work as simple python list)

a      1.0
b    666.0
dtype: float64

In [19]:
# masking 
data[(data>3) & (data<9)]

c    5.50
d    7.75
dtype: float64

In [20]:
# fancy indexing (we are just passing a list of indexes for specific values)
data[['a', 'e']]

a     1.0
e    10.0
dtype: float64

In [22]:
# Indexers : loc, iloc and ix
data = pd.Series(['a', 'b', 'c'], index=[1,3,5])
# loc attribute allows indexing and slicing that always references the explicit index.
print(data.loc[1]) # 'a'
print(data.loc[1:3])

a
1    a
3    b
dtype: object

In [23]:
# iloc attribute allows indexing and slicing that always references the implicit 
# python-style index. 
print(data.iloc[1]) # 'b'
print(data.iloc[1:3])

b
3    b
5    c
dtype: object

In [24]:

# Data Selection in DataFrame
# dataframe as a dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [25]:
data['area'] # will return a Series

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [27]:
# add new columns to dataFrame 
data['density'] = data['pop']/ data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [28]:
# DataFrame as a two dimensional array
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [36]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [37]:
data.loc[:'Florida', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

In [38]:
# ix is hybrid of two( loc, and iloc)
data.ix[:3, :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [39]:
data.loc[data['density']>100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121